In [1]:
import pandas as pd

~ represents the opposite of a data point

In [5]:
titanic =  pd.read_csv('/Users/jonathanho/Desktop/devmountain/data-analyst-week-2/may_23/Course_Materials_Part1/Video_Lecture_NBs/titanic.csv')
summer = pd.read_csv('/Users/jonathanho/Desktop/devmountain/data-analyst-week-2/may_23/Course_Materials_Part1/Video_Lecture_NBs/summer.csv')
sales = pd.read_csv('/Users/jonathanho/Desktop/devmountain/data-analyst-week-2/may_23/Course_Materials_Part1/Video_Lecture_NBs/sales.csv')

In [3]:
titanic.head(10)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN
5         0       3    male   NaN      0      0   8.4583        Q  NaN
6         0       1    male  54.0      0      0  51.8625        S    E
7         0       3    male   2.0      3      1  21.0750        S  NaN
8         1       3  female  27.0      0      2  11.1333        S  NaN
9         1       2  female  14.0      1      0  30.0708        C  NaN

In [8]:
sales = pd.Series([15,32,45,21,55,15,0], index = ['Mo', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])

In [9]:
sales

Mo     15
Tue    32
Wed    45
Thu    21
Fri    55
Sat    15
Sun     0
dtype: int64

In [10]:
sales.sort_values(ascending=False)

Fri    55
Wed    45
Tue    32
Thu    21
Mo     15
Sat    15
Sun     0
dtype: int64

In [11]:
sales.rank(ascending=False).sort_values(ascending=True)

Fri    1.0
Wed    2.0
Tue    3.0
Thu    4.0
Mo     5.5
Sat    5.5
Sun    7.0
dtype: float64