# Coding Exercises (Part 1)

## Full Data Workflow A-Z: Merging, Joining, Concatenating

### Exercise 12: Merging, joining, aligning and concatenating Data

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

--------------------------------------------------------------------------------------------------------------

## Option 1: Self_guided

### Concatenating DataFrames vertically

__Import__ the cars dataset (with cars from usa and europe) from the csv-file __cars_clean.csv__. <br>
Also __import__ the csv-file __cars_jap.csv__ (with cars from japan) and __concatenate__ both DataFrames __vertically__! <br>
__Save__ the __concatenated DataFrame__ in the variable __cars_all__! <br>
Finally, __sort__ cars_all by the model_year from __low to high__!

In [1]:
import pandas as pd

In [3]:
cars_data = pd.read_csv('cars_clean.csv')

In [6]:
cars_data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
cars_jp = pd.read_csv('cars_jap.csv')

In [7]:
cars_jp.head()

    mpg  cyl   disp    hp  weight   acc  year                   name
0  24.0    4  113.0  95.0    2372  15.0    70  toyota corona mark ii
1  27.0    4   97.0  88.0    2130  14.5    70           datsun pl510
2  27.0    4   97.0  88.0    2130  14.5    71           datsun pl510
3  25.0    4  113.0  95.0    2228  14.0    71          toyota corona
4  31.0    4   71.0  65.0    1773  19.0    71    toyota corolla 1200

In [11]:
pd.concat([cars_data, cars_jp], axis=0)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,cyl,disp,hp,acc,year
0,18.0,8.0,307.0,130.0,3504,12.0,70.0,usa,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8.0,350.0,165.0,3693,11.5,70.0,usa,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8.0,318.0,150.0,3436,11.0,70.0,usa,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8.0,304.0,150.0,3433,12.0,70.0,usa,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8.0,302.0,140.0,3449,10.5,70.0,usa,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,34.0,NaN,NaN,NaN,2245,NaN,NaN,NaN,toyota corolla,4.0,108.0,70.0,16.9,82.0
75,38.0,NaN,NaN,NaN,1965,NaN,NaN,NaN,honda civic,4.0,91.0,67.0,15.0,82.0
76,32.0,NaN,NaN,NaN,1965,NaN,NaN,NaN,honda civic (auto),4.0,91.0,67.0,15.7,82.0
77,38.0,NaN,NaN,NaN,1995,NaN,NaN,NaN,datsun 310 gx,4.0,91.0,67.0,16.2,82.0
78,32.0,NaN,NaN,NaN,2665,NaN,NaN,NaN,toyota celica gt,4.0,144.0,96.0,13.9,82.0

In [12]:
cars_all = pd.concat([cars_data, cars_jp], axis=0)

In [14]:
cars_all.shape

(392, 14)

In [17]:
cars_all.sort_values(by='model_year', ascending=True)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,cyl,disp,hp,acc,year
0,18.0,8.0,307.0,130.0,3504,12.0,70.0,usa,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
26,9.0,8.0,304.0,193.0,4732,18.5,70.0,usa,ih 1200d,NaN,NaN,NaN,NaN,NaN
25,11.0,8.0,318.0,210.0,4382,13.5,70.0,usa,dodge d200,NaN,NaN,NaN,NaN,NaN
24,10.0,8.0,307.0,200.0,4376,15.0,70.0,usa,chevrolet c20,NaN,NaN,NaN,NaN,NaN
23,10.0,8.0,360.0,215.0,4615,14.0,70.0,usa,ford f250,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,34.0,NaN,NaN,NaN,2245,NaN,NaN,NaN,toyota corolla,4.0,108.0,70.0,16.9,82.0
75,38.0,NaN,NaN,NaN,1965,NaN,NaN,NaN,honda civic,4.0,91.0,67.0,15.0,82.0
76,32.0,NaN,NaN,NaN,1965,NaN,NaN,NaN,honda civic (auto),4.0,91.0,67.0,15.7,82.0
77,38.0,NaN,NaN,NaN,1995,NaN,NaN,NaN,datsun 310 gx,4.0,91.0,67.0,16.2,82.0
78,32.0,NaN,NaN,NaN,2665,NaN,NaN,NaN,toyota celica gt,4.0,144.0,96.0,13.9,82.0

### Left Join

__Import__ the csv-files __summer.csv__ (as summer) and __dictionary.csv__ (as dic) which contains the __full country name__ for the olympic country codes as well as __population__ and __gdp__ statistics for some countries.<br>

__"Copy and paste"__ the __full country name__, __population__ and __gdp__ from the dic DataFrame __into the summer DataFrame__ with a __Left Join__!<br>
__Save__ the new merged DataFrame in the variable __summer_new__!<br>

__Inspect__ summer_new and determine the __olympic country codes__ for which the dic DataFrame does __not provide__ any information!

### Arithmetic operations between DataFrames / Alignment

__Import__ the csv-files __ath_2008.csv__ and __ath_2012.csv__ with all medals winners in the Sport __Athletics__ in the Editions __2008__ and __2012__.

For __all Athletes__ in the two DataFrames, __aggregate/add__ the total number of __Gold__, __Silver__ and __Bronze__ Medals over both editions! __Save__ the aggregated DataFrame in the variable __add__. (Hint: add should contain an index with the Athlete names and three columns, Gold, Silver, Bronze)

__Sort__ add by Gold, Silver, Bronze from __high to low__! Change datatype to __integer__, if necessary! The first Athlete in your DataFrame should be ... no surprise ... Usain Bolt with 6 Gold and 0 Silver and Bronze Medals.

-------------------------------------

## Option 2: Guided and Instructed

# STOP HERE, IF YOU WANT TO DO THE EXERCISE ON YOUR OWN!

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [ ]:
#run the cell
import pandas as pd

### Concatenating DataFrames vertically

In [ ]:
#run the cell
cars = pd.read_csv("cars_clean.csv")

__Inspect__ the __cars__ DataFrame!

In [ ]:
#run the cell
cars.head()

In [ ]:
#run the cell
cars.tail()

In [ ]:
#run the cell
cars.info()

__Inspect__ the cars_jap DataFrame!

In [ ]:
#run the cell
cars_jap = pd.read_csv("cars_jap.csv")

In [ ]:
#run the cell
cars_jap.head()

Before we can concatenate both DataFrames, we need to __align__ them!<br>
108. __Insert__ the column __origin__ to __cars_jap__ at the most appropriate position! __Fill in the gaps!__

In [ ]:
cars_jap.---(---, ---, "japan")

Also the column labels should match. <br>
109. __Overwrite__ the column labels in __cars_jap__ and use the same column labels that we have in cars!

__Inspect__!

In [ ]:
#run the cell
cars_jap.head()

110. __Concatenate__ both DataFrames __vertically__ and create a __new RangeIndex__! __Save__ the new DataFrame in the variable __cars_all__!

__Inspect__!

In [ ]:
#run the cell
cars_all.head()

In [ ]:
#run the cell!
cars_all.tail()

111. __Sort cars_call__ by the __model_year__ from __low to high__! Create a __new RangeIndex__ (drop the old)! __Fill in the gaps__!

In [ ]:
cars_all = cars_all.---("model_year").---(drop = True)

__Inspect__!

In [ ]:
#run the cell
cars_all.head()

In [ ]:
#run the cell
cars_all.tail()

In [ ]:
#run the cell
cars_all.info()

----------------------------------------------------------------------

### Left Join

In [ ]:
# run the cell!
summer = pd.read_csv("summer.csv")

__Inspect__ the __summer__ DataFrame!

In [ ]:
# run the cell!
summer.head()

In [ ]:
# run the cell!
dic = pd.read_csv("dictionary.csv")

__Inspect__ dict!

In [ ]:
# run the cell!
dic.head()

__dic__ contains the Olympic Games __Country Codes__ ("Code") with the corresponding __full country names__ ("Country") as well as recent __Population__ and __GDP__ statistics.<br>

112. __Create__ the columns __Country__, __Population__ and __GDP per Capita__ in the __summer__ DataFrame by using a __Left Join__ with __pd.merge()__. <br>
__Save__ the merged Dataframe in the variable __summer_new__! __Fill in the gaps__!

In [ ]:
summer_new = pd.merge(---, ---, how = "left", left_on= ---, right_on = ---)

__Inspect__ summer_new!

In [ ]:
# run the cell!
summer_new.head()

In [ ]:
# run the cell!
summer_new.info()

Apparently, __dic__ does __not contain__ additional information for __all olympic country codes__ that are in the __summer__ Dataframe.

113. __Filter__ summer_new for the elements in the column __Country_x__, where the __corresponding value__ in the column __Code__ is __missing__! <br>
__Count__ the frequency! __Fill in the gaps__!

In [ ]:
summer_new.loc[summer_new.Code.---, "Country_x"].---

For these country codes, we need to find __other sources__ for additional information on the __full country name__, __population__ and __gdp__ (most of these countries do not exist any more.) -> BONUS EXERCISE ;-)

--------------------------

### Arithmetic operations between DataFrames / Alignment

In [ ]:
#run the cell
ath_2008 = pd.read_csv("ath_2008.csv")
ath_2012 = pd.read_csv("ath_2012.csv")

__Inspect__ the __ath_2008__ DataFrame. It contains all athletes who won medals in __Athletics__ in the Edition __2008__.

In [ ]:
#run the cell
ath_2008.head()

In [ ]:
#run the cell
ath_2008.info()

__Inspect__ the __ath_2012__ DataFrame. It contains all athletes who won medals in __Athletics__ in the Edition __2012__.

In [ ]:
#run the cell
ath_2012.head()

In [ ]:
#run the cell
ath_2012.info()

For __all Athletes__ in the two DataFrames, __aggregate/add__ the total number of __Gold__, __Silver__ and __Bronze__ Medals over both editions! __Save__ the aggregated DataFrame in the variable __add__!

114. First, __set__ the __Athlete__ column as the __index__ in both DataFrames! __Save__ the changes!

115. __Add__ both DataFrames with the __most appropriate method__! __Save__ the resulting DataFrame in the variable __add__!

__Inspect__!

In [ ]:
#run the cell
add.head(10)

116. __Sort__ the athletes by the number of __Gold__, __Silver__ and __Bronze__ medals from __high to low__!<br>
__Fill in the gaps!__ Who is the top athlete?

In [ ]:
add = add.sort_values(---, ascending = ---).astype("int")

In [ ]:
# run the cell!
add.head()

In [ ]:
# run the cell!
add.tail()

No surprise, it´s Usain Bolt!

# Well Done!

------------------------------------------------

# Hints (Spoiler!)

108. insert() method, index pos. 7

109. columns attribute

110. pd.concat() method, ignore index

111. methods sort_values() and reset_index()

112. left DataFrame: summer, on "Country" and "Code"

113. methods isnull() and value_counts()

114. set_index() method

115. add() method, fill_value = 0

116. pass a list of columns to sort_values() method (sequence matters!)