# Coding Exercises

## Full Data Workflow A-Z: Group Operations

### Exercise 13: GroupBy

--------------------------------------------------------------------------------------------------------------

Import the cars dataset (cars.csv).

In [23]:
import pandas as pd

In [24]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [25]:
cars = pd.read_csv('cars.csv')

__Calculate__ the mean/average mpg __by origin__ (mean mpg for usa, for europe and for japan)! Who built the __least__ fuel efficient cars?

In [3]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [37]:
cars.shape

(398, 9)

In [38]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [36]:
cars.groupby('origin').mean()
#allows iteration from the grouping of origin

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
origin,,,,,,,
europe,27.891429,4.157143,109.142857,80.558824,2423.300000,16.787143,75.814286
japan,30.450633,4.101266,102.708861,79.835443,2221.227848,16.172152,77.443038
usa,20.083534,6.248996,245.901606,119.048980,3361.931727,15.033735,75.610442

In [35]:
cars.groupby('origin').mpg.mean()
#groups the objects of origin from cars df and then finds the mean from the mpg column

origin
europe    27.891429
japan     30.450633
usa       20.083534
Name: mpg, dtype: float64

__Calculate__ the mean/average mpg __by model_year__ (mean mpg for the years 70, 71, ...). Can you see a __trend__? __Visualize__!

In [27]:
cars.groupby('model_year').mpg.mean()
# groups the objects of model_year from cars df and then finds the mean from the mpg column

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

__Calculate__ the mean/average mpg for each __combination of model_year & origin__ and __visualize__ how the mean mpg evolved over time for usa, europe and japan. <br>
Can you see the __same trend__ for all three orgins?

In [41]:
cars.groupby(['model_year', 'origin']).mpg.mean()
# can it look prettier?

model_year  origin
70          europe    25.200000
            japan     25.500000
            usa       15.272727
71          europe    28.750000
            japan     29.500000
            usa       18.100000
72          europe    22.000000
            japan     24.200000
            usa       16.277778
73          europe    24.000000
            japan     20.000000
            usa       15.034483
74          europe    27.000000
            japan     29.333333
            usa       18.333333
75          europe    24.500000
            japan     27.500000
            usa       17.550000
76          europe    24.250000
            japan     28.000000
            usa       19.431818
77          europe    29.250000
            japan     27.416667
            usa       20.722222
78          europe    24.950000
            japan     29.687500
            usa       21.772727
79          europe    30.450000
            japan     32.950000
            usa       23.478261
80          europe    37.288889
            japan     35.400000
            usa       25.914286
81          europe    31.575000
            japan     32.958333
            usa       27.530769
82          europe    40.000000
            japan     34.888889
            usa       29.450000
Name: mpg, dtype: float64

In [28]:
mpg_groupby = cars.groupby(['model_year', 'origin']).mpg.mean()

In [29]:
mpg_df = pd.DataFrame(data=mpg_groupby)

In [30]:
mpg_df.reset_index(inplace=True)

In [31]:
mpg_df
# This is what prettier looks like

    model_year  origin        mpg
0           70  europe  25.200000
1           70   japan  25.500000
2           70     usa  15.272727
3           71  europe  28.750000
4           71   japan  29.500000
5           71     usa  18.100000
6           72  europe  22.000000
7           72   japan  24.200000
8           72     usa  16.277778
9           73  europe  24.000000
10          73   japan  20.000000
11          73     usa  15.034483
12          74  europe  27.000000
13          74   japan  29.333333
14          74     usa  18.333333
15          75  europe  24.500000
16          75   japan  27.500000
17          75     usa  17.550000
18          76  europe  24.250000
19          76   japan  28.000000
20          76     usa  19.431818
21          77  europe  29.250000
22          77   japan  27.416667
23          77     usa  20.722222
24          78  europe  24.950000
25          78   japan  29.687500
26          78     usa  21.772727
27          79  europe  30.450000
28          79   japan  32.950000
29          79     usa  23.478261
30          80  europe  37.288889
31          80   japan  35.400000
32          80     usa  25.914286
33          81  europe  31.575000
34          81   japan  32.958333
35          81     usa  27.530769
36          82  europe  40.000000
37          82   japan  34.888889
38          82     usa  29.450000

Calculate the __mean__, __min__ and __max__ mpg for each combination of model_year & origin!

In [42]:
cars.groupby(['model_year', 'origin']).mpg.agg(['mean', 'min', 'max'])

                        mean   min   max
model_year origin
70         europe  25.200000  24.0  26.0
           japan   25.500000  24.0  27.0
           usa     15.272727   9.0  22.0
71         europe  28.750000  27.0  30.0
           japan   29.500000  25.0  35.0
           usa     18.100000  12.0  28.0
72         europe  22.000000  18.0  26.0
           japan   24.200000  19.0  28.0
           usa     16.277778  11.0  28.0
73         europe  24.000000  19.0  29.0
           japan   20.000000  18.0  22.0
           usa     15.034483  11.0  23.0
74         europe  27.000000  24.0  31.0
           japan   29.333333  24.0  32.0
           usa     18.333333  13.0  28.0
75         europe  24.500000  22.0  29.0
           japan   27.500000  24.0  33.0
           usa     17.550000  13.0  23.0
76         europe  24.250000  16.5  29.5
           japan   28.000000  19.0  33.0
           usa     19.431818  13.0  29.0
77         europe  29.250000  21.5  36.0
           japan   27.416667  21.5  33.5
           usa     20.722222  15.0  33.5
78         europe  24.950000  16.2  43.1
           japan   29.687500  21.1  39.4
           usa     21.772727  17.5  36.1
79         europe  30.450000  25.4  37.3
           japan   32.950000  31.8  34.1
           usa     23.478261  15.5  35.7
80         europe  37.288889  29.8  44.3
           japan   35.400000  23.7  46.6
           usa     25.914286  19.1  32.1
81         europe  31.575000  28.1  34.5
           japan   32.958333  24.2  39.1
           usa     27.530769  17.6  39.0
82         europe  40.000000  36.0  44.0
           japan   34.888889  31.0  38.0
           usa     29.450000  22.0  38.0

In [43]:
agg_groupby = cars.groupby(['model_year', 'origin']).mpg.agg(['mean', 'min', 'max'])

In [46]:
agg_df = pd.DataFrame(data=agg_groupby)

In [47]:
agg_df.reset_index(inplace=True)

In [48]:
agg_df
#tidy

    model_year  origin       mean   min   max
0           70  europe  25.200000  24.0  26.0
1           70   japan  25.500000  24.0  27.0
2           70     usa  15.272727   9.0  22.0
3           71  europe  28.750000  27.0  30.0
4           71   japan  29.500000  25.0  35.0
5           71     usa  18.100000  12.0  28.0
6           72  europe  22.000000  18.0  26.0
7           72   japan  24.200000  19.0  28.0
8           72     usa  16.277778  11.0  28.0
9           73  europe  24.000000  19.0  29.0
10          73   japan  20.000000  18.0  22.0
11          73     usa  15.034483  11.0  23.0
12          74  europe  27.000000  24.0  31.0
13          74   japan  29.333333  24.0  32.0
14          74     usa  18.333333  13.0  28.0
15          75  europe  24.500000  22.0  29.0
16          75   japan  27.500000  24.0  33.0
17          75     usa  17.550000  13.0  23.0
18          76  europe  24.250000  16.5  29.5
19          76   japan  28.000000  19.0  33.0
20          76     usa  19.431818  13.0  29.0
21          77  europe  29.250000  21.5  36.0
22          77   japan  27.416667  21.5  33.5
23          77     usa  20.722222  15.0  33.5
24          78  europe  24.950000  16.2  43.1
25          78   japan  29.687500  21.1  39.4
26          78     usa  21.772727  17.5  36.1
27          79  europe  30.450000  25.4  37.3
28          79   japan  32.950000  31.8  34.1
29          79     usa  23.478261  15.5  35.7
30          80  europe  37.288889  29.8  44.3
31          80   japan  35.400000  23.7  46.6
32          80     usa  25.914286  19.1  32.1
33          81  europe  31.575000  28.1  34.5
34          81   japan  32.958333  24.2  39.1
35          81     usa  27.530769  17.6  39.0
36          82  europe  40.000000  36.0  44.0
37          82   japan  34.888889  31.0  38.0
38          82     usa  29.450000  22.0  38.0

Return the columns __name__ and __mpg__ for the __two most fuel efficient cars__ for __each combination of model_year & origin__! <br>(hint: a __user defined function__ might help!)

In [49]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
def fuel_efficient(group):
    return group

Calculate the __mean mpg__ for each combination of __model_year & origin__ and __assign__ the corresponding __group-specific value__ to all cars (__new column__!).<br>
Then, __filter__ all cars, where the __absolute difference__ between __mpg__ and __group-specific mpg__ is __greater than 10__. These cars are outliers/special cases in their respective group.

In [52]:
cars["origin_mpg"] = cars.groupby(["model_year", "origin"]).mpg.transform("mean")
# adding a new column to the frame

In [54]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,origin_mpg
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,15.272727
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,15.272727
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,15.272727
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,15.272727
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,15.272727

In [55]:
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,origin_mpg
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,29.45
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,40.00
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,29.45
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,29.45
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10,29.45

In [56]:
cars["outlier_mpg"] = (cars.mpg - cars.origin_mpg)
# need to make a special group to place the filtered data

------------------------