In [37]:
import numpy as np
import pandas as pd
%matplotlib inline
df = pd.read_csv('Form_700_Schedule_B_-_Interests_in_Real_Property.csv')

In [38]:
df.shape

(3189, 33)

In [39]:
df.head()

,id,filerId,filingId,filerName,filingDate,departmentName,positionName,offices,periodStart,periodEnd,...,loan_address,loan_city,loan_state,loan_zip,loan_businessActivity,loan_highestBalance,loan_highestBalanceAsRange,loan_interestRate,loan_term,loan_guarantor
0,f472072100fa4ad6a6b8291967e547a4,SFO-158592,202722303,"Froehlich, David",03/14/2022 11:41:25 AM,Recreation and Park Department,Project Manager I,Project Manager I - Recreation and Park Depart...,01/01/2021,12/31/2021,...,NaN,NaN,NaN,NaN,NaN,0,Unset,NaN,NaN,NaN
1,1fa336f16c8f413e9d76fe559920d97a,SFO-157517,202717663,"Patel, Ashish",03/14/2022 10:50:46 AM,Municipal Transportation Agency,Municipal Transportation Agency--Manager VIII,Municipal Transportation Agency--Manager VIII ...,01/01/2021,12/31/2021,...,NaN,NaN,NaN,NaN,NaN,0,Unset,NaN,NaN,NaN
2,89b58a244d79484b884c7e0093ec32cc,SFO-160830,202703607,"Tran, Marlene",03/13/2022 08:25:58 PM,Public Utilities Commission,"Public Utilities Commission, Boards and Admini...","Public Utilities Commission, Boards and Admini...",01/01/2021,12/31/2021,...,NaN,NaN,NaN,NaN,NaN,0,Unset,NaN,NaN,NaN
3,86845e8ef3aa4763a08938e573dc49e9,SFO-160830,202703607,"Tran, Marlene",03/13/2022 08:25:58 PM,Public Utilities Commission,"Public Utilities Commission, Boards and Admini...","Public Utilities Commission, Boards and Admini...",01/01/2021,12/31/2021,...,NaN,NaN,NaN,NaN,NaN,0,Unset,NaN,NaN,NaN
4,a74202d79eaa4f7997a30335b82e8462,SFO-160830,202703607,"Tran, Marlene",03/13/2022 08:25:58 PM,Public Utilities Commission,"Public Utilities Commission, Boards and Admini...","Public Utilities Commission, Boards and Admini...",01/01/2021,12/31/2021,...,NaN,NaN,NaN,NaN,NaN,0,Unset,NaN,NaN,NaN

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3189 entries, 0 to 3188
Data columns (total 33 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    3189 non-null   object
 1   filerId                               3189 non-null   object
 2   filingId                              3189 non-null   int64
 3   filerName                             3189 non-null   object
 4   filingDate                            3189 non-null   object
 5   departmentName                        3184 non-null   object
 6   positionName                          2997 non-null   object
 7   offices                               3189 non-null   object
 8   periodStart                           3189 non-null   object
 9   periodEnd                             3189 non-null   object
 10  parcelOrAddress                       3189 non-null   object
 11  city                                  3189 non-null   object
 12  fairMarketValueScheduleB              3189 non-null   int64
 13  fairMarketValueScheduleBAsRange       3189 non-null   object
 14  dateAcquired                          433 non-null    object
 15  dateDisposed                          59 non-null     object
 16  grossIncomeReceived                   2091 non-null   float64
 17  grossIncomeReceivedAsRange            3189 non-null   object
 18  incomeSources                         1254 non-null   object
 19  natureOfInterest                      3189 non-null   object
 20  natureOfInterest_LeaseYearsRemaining  45 non-null     object
 21  natureOfInterest_OtherDescription     142 non-null    object
 22  loan_nameOfLender                     506 non-null    object
 23  loan_address                          626 non-null    object
 24  loan_city                             506 non-null    object
 25  loan_state                            506 non-null    object
 26  loan_zip                              506 non-null    object
 27  loan_businessActivity                 266 non-null    object
 28  loan_highestBalance                   3189 non-null   int64
 29  loan_highestBalanceAsRange            3189 non-null   object
 30  loan_interestRate                     454 non-null    object
 31  loan_term                             502 non-null    object
 32  loan_guarantor                        0 non-null      float64
dtypes: float64(2), int64(3), object(28)
memory usage: 822.3+ KB

In [41]:
df.describe()

,filingId,fairMarketValueScheduleB,grossIncomeReceived,loan_highestBalance,loan_guarantor
count,3.189000e+03,3189.000000,2091.000000,3189.000000,0.0
mean,1.792622e+08,612874.882408,21006.695361,15151.144559,NaN
std,1.909801e+07,448697.745943,32217.708742,35774.484242,NaN
min,1.490506e+08,2000.000000,250.000000,0.000000,NaN
25%,1.600579e+08,100000.000000,10000.000000,0.000000,NaN
50%,1.782364e+08,1000000.000000,10000.000000,0.000000,NaN
75%,2.012844e+08,1000000.000000,10000.000000,0.000000,NaN
max,2.037931e+08,1000000.000000,100000.000000,100000.000000,NaN

In [42]:
df['Salaries'].mean()
df['Salaries'].plot()

KeyError: 'Salaries'

In [ ]:
df['Salaries']

0          57534.65
1          57678.50
2          63532.93
3         101274.51
4           5084.00
            ...
758599     96796.17
758600    118308.00
758601    118308.03
758602      7731.82
758603     24529.99
Name: Salaries, Length: 758604, dtype: float64

In [ ]:
dft = df.T

dft

,0,1,2,3,4,5,6,7,8,9,...,758594,758595,758596,758597,758598,758599,758600,758601,758602,758603
Organization Group Code,1,1,1,1,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6
Job Family Code,1000,1000,1000,1000,1000,1000,1000,1000,1200,1600,...,4300,4300,4300,4300,4300,4300,4300,4300,9900,9900
Job Code,1021,1023,1031,1054,1062,1064,1070,1094,1232,1654,...,4334,4334,4334,4334,4334,4334,4337,4337,9922,9922
Year Type,Calendar,Calendar,Calendar,Calendar,Calendar,Calendar,Calendar,Calendar,Calendar,Calendar,...,Fiscal,Fiscal,Fiscal,Fiscal,Fiscal,Fiscal,Fiscal,Fiscal,Fiscal,Fiscal
Year,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
Organization Group,Public Protection,Public Protection,Public Protection,Public Protection,Public Protection,Public Protection,Public Protection,Public Protection,Public Protection,Public Protection,...,General Administration & Finance,General Administration & Finance,General Administration & Finance,General Administration & Finance,General Administration & Finance,General Administration & Finance,General Administration & Finance,General Administration & Finance,General Administration & Finance,General Administration & Finance
Department Code,ADP,ADP,ADP,ADP,ADP,ADP,ADP,ADP,ADP,ADP,...,TTX,TTX,TTX,TTX,TTX,TTX,TTX,TTX,TTX,TTX
Department,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,ADP Adult Probation,...,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector,Treasurer/Tax Collector
Union Code,21.0,21.0,21.0,21.0,21.0,21.0,21.0,21.0,21.0,21.0,...,790.0,790.0,790.0,790.0,790.0,790.0,790.0,790.0,790.0,790.0
Union,"Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21","Prof & Tech Engineers - Miscellaneous, Local 21",...,"SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc","SEIU, Local 1021, Misc"
Job Family,Information Systems,Information Systems,Information Systems,Information Systems,Information Systems,Information Systems,Information Systems,Information Systems,Personnel,"Payroll, Billing & Accounting",...,Revenue,Revenue,Revenue,Revenue,Revenue,Revenue,Revenue,Revenue,Public Service Aide,Public Service Aide
Job,IS Administrator 1,IS Administrator 3,IS Trainer-Assistant,IS Business Analyst-Principal,IS Programmer Analyst,IS Prg Analyst-Principal,IS Project Director,IT Operations Support Admin IV,Training Officer,Accountant III,...,"Investigator, Tax Collector","Investigator, Tax Collector","Investigator, Tax Collector","Investigator, Tax Collector","Investigator, Tax Collector","Investigator, Tax Collector","Pr Investigator, Tax Collector","Pr Investigator, Tax Collector",PS Aide to Prof,PS Aide to Prof
Employee Identifier,37730,26574,8148,27436,37730,36223,51426,26574,37983,16858,...,45711050,45712492,45726501,45727265,46506505,46676481,45704805,45717415,47276544,47276741
Salaries,57534.65,57678.5,63532.93,101274.51,5084.0,34456.0,139889.0,46572.0,84681.53,10611.01,...,106700.0,95863.32,106775.9,106700.06,102750.61,96796.17,118308.0,118308.03,7731.82,24529.99
Overtime,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,87.45,291.87,0.0,0.0,0.0,1993.67,767.32,0.0,0.0
Other Salaries,0.0,0.0,0.0,-7058.59,0.0,0.0,0.0,0.0,0.0,0.0,...,197.34,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Total Salary,57534.65,57678.5,63532.93,94215.92,5084.0,34456.0,139889.0,46572.0,84681.53,10611.01,...,106897.34,95950.77,107187.77,106700.06,102750.61,96796.17,120301.67,119075.35,7731.82,24529.99
Retirement,11253.16,10284.88,12495.83,19644.45,1083.9,7346.0,26799.23,9929.16,16661.84,1879.2,...,24054.03,21576.75,24053.73,24012.73,23124.76,21778.66,26625.04,26623.22,0.0,0.0
Health and Dental,11961.34,7176.8,12918.24,12918.24,956.91,3827.63,12918.24,5741.44,12918.24,1435.36,...,15959.1,15959.1,15970.6,15959.1,15959.1,14684.2,15959.1,15959.1,0.0,0.0
Other Benefits,4532.63,4755.14,4702.71,7458.76,387.5,2579.95,9791.54,3822.28,6838.44,827.09,...,9014.6,7764.33,8615.6,8934.69,7832.39,7864.07,9302.7,9673.5,637.53,1952.2
Total Benefits,27747.13,22216.82,30116.78,40021.45,2428.31,13753.58,49509.01,19492.88,36418.52,4141.65,...,49027.73,45300.18,48639.93,48906.52,46916.25,44326.93,51886.84,52255.82,637.53,1952.2
Total Compensation,85281.78,79895.32,93649.71,134237.37,7512.31,48209.58,189398.01,66064.88,121100.05,14752.66,...,155925.07,141250.95,155827.7,155606.58,149666.86,141123.1,172188.51,171331.17,8369.35,26482.19

In [ ]:
#df[2][2] wont work because the we can't get the row by position unless we use iloc for position or loc by label
df.iloc[2][2] 
df['Job'][2]

'IS Trainer-Assistant'

In [ ]:
df[['Salaries', 'Overtime', 'Union']]

         Salaries  Overtime                                            Union
0        57534.65      0.00  Prof & Tech Engineers - Miscellaneous, Local 21
1        57678.50      0.00  Prof & Tech Engineers - Miscellaneous, Local 21
2        63532.93      0.00  Prof & Tech Engineers - Miscellaneous, Local 21
3       101274.51      0.00  Prof & Tech Engineers - Miscellaneous, Local 21
4         5084.00      0.00  Prof & Tech Engineers - Miscellaneous, Local 21
...           ...       ...                                              ...
758599   96796.17      0.00                           SEIU, Local 1021, Misc
758600  118308.00   1993.67                           SEIU, Local 1021, Misc
758601  118308.03    767.32                           SEIU, Local 1021, Misc
758602    7731.82      0.00                           SEIU, Local 1021, Misc
758603   24529.99      0.00                           SEIU, Local 1021, Misc

[758604 rows x 3 columns]

In [ ]:
# [4:] would be from index 4 and on 
df[:4][['Salaries', 'Overtime', 'Union']]

    Salaries  Overtime                                            Union
0   57534.65       0.0  Prof & Tech Engineers - Miscellaneous, Local 21
1   57678.50       0.0  Prof & Tech Engineers - Miscellaneous, Local 21
2   63532.93       0.0  Prof & Tech Engineers - Miscellaneous, Local 21
3  101274.51       0.0  Prof & Tech Engineers - Miscellaneous, Local 21

In [ ]:
# slice with int
df[1:5]

,Organization Group Code,Job Family Code,Job Code,Year Type,Year,Organization Group,Department Code,Department,Union Code,Union,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health and Dental,Other Benefits,Total Benefits,Total Compensation
1,1,1000,1023,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,26574,57678.50,0.0,0.00,57678.50,10284.88,7176.80,4755.14,22216.82,79895.32
2,1,1000,1031,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,8148,63532.93,0.0,0.00,63532.93,12495.83,12918.24,4702.71,30116.78,93649.71
3,1,1000,1054,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,27436,101274.51,0.0,-7058.59,94215.92,19644.45,12918.24,7458.76,40021.45,134237.37
4,1,1000,1062,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,37730,5084.00,0.0,0.00,5084.00,1083.90,956.91,387.50,2428.31,7512.31

In [ ]:
# The rows are strings that is why I am able to slice it
dft['Salaries':'Overtime']

,0,1,2,3,4,5,6,7,8,9,...,758594,758595,758596,758597,758598,758599,758600,758601,758602,758603
Salaries,57534.65,57678.5,63532.93,101274.51,5084.0,34456.0,139889.0,46572.0,84681.53,10611.01,...,106700.0,95863.32,106775.9,106700.06,102750.61,96796.17,118308.0,118308.03,7731.82,24529.99
Overtime,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,87.45,291.87,0.0,0.0,0.0,1993.67,767.32,0.0,0.0

In [ ]:
# loc is end inclusive
df.loc[3:10]

,Organization Group Code,Job Family Code,Job Code,Year Type,Year,Organization Group,Department Code,Department,Union Code,Union,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health and Dental,Other Benefits,Total Benefits,Total Compensation
3,1,1000,1054,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,27436,101274.51,0.0,-7058.59,94215.92,19644.45,12918.24,7458.76,40021.45,134237.37
4,1,1000,1062,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,37730,5084.00,0.0,0.00,5084.00,1083.90,956.91,387.50,2428.31,7512.31
5,1,1000,1064,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,36223,34456.00,0.0,0.00,34456.00,7346.00,3827.63,2579.95,13753.58,48209.58
6,1,1000,1070,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,51426,139889.00,0.0,0.00,139889.00,26799.23,12918.24,9791.54,49509.01,189398.01
7,1,1000,1094,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,26574,46572.00,0.0,0.00,46572.00,9929.16,5741.44,3822.28,19492.88,66064.88
8,1,1200,1232,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,37983,84681.53,0.0,0.00,84681.53,16661.84,12918.24,6838.44,36418.52,121100.05
9,1,1600,1654,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,16858,10611.01,0.0,0.00,10611.01,1879.20,1435.36,827.09,4141.65,14752.66
10,1,1600,1654,Calendar,2013,Public Protection,ADP,ADP Adult Probation,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",...,32693,43171.50,0.0,0.00,43171.50,9061.62,6698.35,3502.18,19262.15,62433.65